/*
$color-primary-0: #334749;
$color-primary-1: #DFE9EA;
$color-primary-2: #5D7678;
$color-primary-3: #13292B;
$color-primary-4: #021011;

$color-secondary-1-0: #3B4151;	
$color-secondary-1-1: #E4E6ED;
$color-secondary-1-2: #6A7184;
$color-secondary-1-3: #181E30;
$color-secondary-1-4: #030813;

$color-secondary-2-0: #786C53;	
$color-secondary-2-1: #FFFBF4;
$color-secondary-2-2: #C5B799;
$color-secondary-2-3: #473A1F;
$color-secondary-2-4: #1C1402;

$color-complement-0: #786553;	
$color-complement-1: #FFF9F4;
$color-complement-2: #C5AE99;
$color-complement-3: #47321F;
$color-complement-4: #1C0E02;


*/

$color-primary: #334749;
$color-secondary: #E4E6ED;
$color-tertiary: #252c34;
$text-light: #e2e4e3;
$text-highlight: #C5B799;
$text-dark: #000;
$light-gray: #eee;
$background: #FFFBF4;
$black: #000;


$grid-width: 114em;
$gutter-horizontal: 1.5rem;