<% include ../partials/header %>
<div class="main">
    <h1>RossPens Administrative Dashboard</h1>
    <div class="dashboard">
        <div class="dash-container"><a href='/admin/pens'>View All Pens</a></div>
        <div class="dash-container"><a href="/pens/new">Add New Pen</a></div>
        <div class="dash-container"><a href="/about/">View and Edit Informational Pages</a></div>
        <div class="dash-container"><a href="/logout">Logout</a></div>
    </div>
</div>
<% include ../partials/footer%>