.main {
  padding: 8rem 0px 3rem 0px;
  margin: 0px 0px;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  @include respond(tab-port) {
    padding: 0 0 5rem 0;
  }
}

#mainGallery {
  padding-top: 2rem;
  @include respond(tab-port) {
    padding-top: 0rem;
  } 
}

.sort {
  text-align: center;
  font-family: "Rochester", cursive;
  font-size: 8rem;
  font-weight: 300;
  margin: 2rem;
}

.divider {
  display: block;
  margin: 0 auto;
  width: 65%;
  max-width: 950px;
}

