<!--<footer>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--     <div class="col-md-3 col-sm-6">-->
<!--     <div class="thumbnail"><img src="/assets/images/Ross.jpg" alt="rossmck.jpg (24631 bytes)">-->
<!--     </div>-->
<!--     </div>-->
<!--      <div class="col-md-6 col-sm-6 paddingtop-bottom">-->
<!--        <div class="logofooter"><img src="/assets/images/fountain-pen-icon-sm.png" alt="" height="33">RossPens</div>-->
<!--        <p>Please mail any pens or payments to:</p>-->
<!--        <p><em class="fa fa-map-pin"></em> 2523 Charlock Court<br>-->
<!--          Chapel Hill, NC 27514-9609</p>-->
<!--        <p>For questions, I'm at:</p>-->
<!--        <p><i class="fa fa-phone"></i> Phone: 919-308-0504 (mobile)</p>-->
<!--        <p><i class="fa fa-envelope"></i> E-mail : ross@rosspens.com</p>-->
        
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 paddingtop-bottom">-->
<!--		  <h6 class="heading7">LINKS</h6>-->
<!--        		<ul class="footer-ul">-->
<!--          			<li><a href="#"> RossPens News</a></li>-->
<!--          			<li><a href="#"> Site Policies</a></li>-->
<!--          			<li><a href="#"> The Wandering UU Doc</a></li>-->
<!--        			<li><a href="#"> Frequently Ask Questions</a></li>-->
<!--        		</ul>-->
<!--        	</div>-->
<!--        </div>-->
<!--      </div>-->
<!--</footer>-->
<!--footer start from here-->
</div>
<script src="/assets/js/nav.js"></script>
</body></html>