<footer>
  <h2>Pen Restorations</h2>
  <div class="restoration-info">
    <div class="address">
      <p>Please mail any pens or payments to:</p>
      <p>Ross McKinney, Jr.</p>
      <p>2523 Charlock Court</p>
      <p>Chapel Hill, NC 27514-9609</p>
    </div>
    <div class="address">
      <p>UPS/Fedex Address</p>
      <p>Ross McKinney, Jr.</p>
      <p>2523 Charlock Court</p>
      <p>Chapel Hill, NC 27514-9609</p>
  
    </div>  

    
</footer>
<!--footer start from here-->
<script src="/assets/js/nav.js"></script>
</body></html>