<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title>RossPens.com: Your source for reliable, affordable vintage pens</title>

    <link rel="stylesheet" href="/assets/css/rosspens-local.css">
    <link rel="icon" href="/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>
  <body>
    <nav>
      <div id="menu-button" onclick="expandMenu(this)">
        <div class="menu-bar1"></div>
        <div class="menu-bar2"></div>
        <div class="menu-bar3"></div>
      </div>
      <div class="brand">
        <a href="/">Rosspens</a>
      </div>
      <div id="collapsible">
        <div class="menu-item">
          <a href="/pens/whatsnew">What's New</a>
        </div>
        <div class="menu-item dropdown">
           <a class="dropdown-btn" onclick="showBrowse()">Vintage Pens</a>
            <div id="BrowsePens" class="dropdown-content">
              <div class="dropdown-list">
                <div class="dropdown-columns">
                  <div class="dropdown-sub-list">
                    <li><a href="/pens/ConwayStewart/vintage">Conway Stewart</a></li>
                    <li><a href="/pens/Esterbrook/vintage">Esterbrook</a></li>
                    <li><a href="/pens/Montblanc/vintage">Montblanc</a></li>
                    <li><a href="/pens/Parker/vintage">Parker</a></li>
                    <li><a href="/pens/Pelikan/vintage">Pelikan</a></li>
                  </div>
                  <div class="dropdown-sub-list">
                    <li><a href="/pens/Sheaffer/vintage">Sheaffer</a></li>
                    <li><a href="/pens/SwanOnoto/vintage">Swan - Onoto</a></li>
                    <li><a href="/pens/WahlEversharp/vintage">Wahl-Eversharp</a></li>
                    <li><a href="/pens/Waterman/vintage">Waterman</a></li>
                    <li><a href="/pens/Other/vintage">Other Vintage Pens</a></li>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="menu-item">
          <a href="/pens/type/modern">Modern Pens</a>
        </div>
        <div class="menu-item dropdown">
          <a onclick="showExplore()" class="dropdown-btn">Explore</a>
            <div id="ExplorePens" class="dropdown-content">
              <ul class="dropdown-list">
                <li><a href="/about/">About Ross</a></li>
                <li><a href="/about/tpc">Triangle Pen Club</a></li>
                <li><a href="/about/moore">Moore Pen History</a></li>
              </ul>
            </div>
        </div>
      </div>
</nav>

