<% include partials/header %>

<div class="main">
    <h1 style="text-align: center;">I don't know that one...</h1>
    <p class="article"> <%=url%> was not found on our server. Sorry!</p>
</div>


<% include partials/footer %>