<% include partials/header %>

<div class="main">
    <h1 class="article__title" >I don't know that one...</h1>
    <p class="article__body"> <%=url%> was not found on our server. Sorry!</p>
</div>


<% include partials/footer %>