<% include partials/header %>
<div class="main">
    <h1>Create Admin User</h1>

    <form action="/createadminuser" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Create Admin User">
    </form>
</div>