<% include partials/header %>
<div class="container">
    <h1>RossPens Administrative Dashboard</h1>
    <div class="dash-container"><a href='/pens/'>View All Pens</a></div>
    <div class="dash-container"><a href="/pens/new">Add New Pen</a></div>
</div>
<% include partials/footer%>