<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

      <title>RossPens.com: Your source for reliable, affordable vintage pens</title>

    <link rel="stylesheet" href="../public/assets/css/rosspens-local.css">

  </head>
  <body>
    <nav>
  <div class="brand">
    Rosspens
  </div>
  <div class="dropdown">
     <a class="dropdown-btn">Browse Pens<i class="fa fa-caret-down"></i></a>
      <div id="BrowsePens" class="dropdown-content">
        <a class="dropdown-header" href="#">Vintage Pens</a>
        <a href="#">Conway Stewart</a>
        <a href="#">Montblanc</a>
        <a href="#">Swan - Onoto</a>
      </div>
  </div>
  <div class="dropdown">
    <a class="dropdown-btn">Explore<i class="fa fa-caret-down"></i></a>
      <div id="ExplorePens" class="dropdown-content">
        <a href="#">Triangle Pen Club</a>
        <a href="#">Moore Pen History</a>
      </div>
  </div>
</nav>
<div class="bgimage">
</div>
<section class="header">
  <h1>RossPens</h1>
  <h2>Your source for reliable, affordable vintage pens.</h2>
  <div class="blurb">
    <div class="pic">
      <img class="portrait" src="http://rosspens.com/images/Ross.jpg">
    </div>
    <p>RossPens.com is a site specializing in the sale of fountain pens, primarily restored vintage pens.
      I pride myself as a reliable source of working pens, accurately described. All our pens are guaranteed be as described
      and to work as they should. I'd rather you know the imperfections before you buy, hopefully reminding you that a 40 year
      old pen may not look as it did when came straight out of the box. But the real joy in these old pens is how they write:
      smoothed by years of use. I do my best to describe the character of the pen, as well as its condition.</p>
    </div>
</section>

<section class="ourPens">
  <h2>Pens for Sale</h2>
</section>

<section class="restoration">
  <h2>Pen Restorations</h2>
  <div class="restoration-info">
    <img src=""
    <p>Send us your pens!</p>

</section>



  </body>
</html>
