<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

      <title>RossPens.com: Your source for reliable, affordable vintage pens</title>

    <link rel="stylesheet" href="../public/assets/css/rosspens-local.css">

  </head>
  <body>
    <nav>
  <div class="brand">
    Rosspens
  </div>
  <div class="menu-item">
    <a href="/pens/whatsnew">What's New</a>
  </div>
  <div class="dropdown">
     <a class="dropdown-btn" href="/pens/type/vintage">Vintage Pens</a>
      <div id="BrowsePens" class="dropdown-content">
        <div class="dropdown-list">
          <div class="dropdown-columns">
            <div class="dropdown-sub-list">
              <li><a href="/pens/ConwayStewart/vintage">Conway Stewart</a></li>
              <li><a href="/pens/Esterbrook/vintage">Esterbrook</a></li>
              <li><a href="/pens/Montblanc/vintage">Montblanc</a></li>
              <li><a href="/pens/Parker/vintage">Parker</a></li>
              <li><a href="/pens/Pelikan/vintage">Pelikan</a></li>
            </div>
            <div class="dropdown-sub-list">
              <li><a href="/pens/Sheaffer/vintage">Sheaffer</a></li>
              <li><a href="/pens/SwanOnoto/vintage">Swan - Onoto</a></li>
              <li><a href="/pens/WahlEversharp/vintage">Wahl-Eversharp</a></li>
              <li><a href="/pens/Waterman/vintage">Waterman</a></li>
              <li><a href="/pens/Other/vintage">Other Vintage Pens</a></li>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="menu-item">
    <a href="/pens/type/modern">Modern Pens</a>
  </div>
  <div class="dropdown">
    <a class="dropdown-btn">Explore</a>
      <div id="ExplorePens" class="dropdown-content">
        <ul class="dropdown-list">
          <li><a href="#">About Ross</a></li>
          <li><a href="#">Triangle Pen Club</a></li>
          <li><a href="#">Moore Pen History</a></li>
        </ul>
      </div>
  </div>
</nav>
<div class="bgimage">
</div>
<section class="header">
  <h1>RossPens</h1>
  <h2>Your source for reliable, affordable vintage pens.</h2>
</section>
<section class="blurb">
    <!-- <div class="pic">
      <img class="portrait" src="http://rosspens.com/images/Ross.jpg">
    </div> -->
    <p>RossPens.com is a site specializing in the sale of fountain pens, primarily restored vintage pens.
      I pride myself as a reliable source of working pens, accurately described. All our pens are guaranteed be as described
      and to work as they should. I'd rather you know the imperfections before you buy, hopefully reminding you that a 40 year
      old pen may not look as it did when came straight out of the box. But the real joy in these old pens is how they write:
      smoothed by years of use. I do my best to describe the character of the pen, as well as its condition.</p>
</section>

<section class="ourPens">
  <h2>Pens for Sale</h2>

</section>

<section class="restoration">
  <h2>Pen Restorations</h2>
  <div class="restoration-info">
    <img src=""
    <p>Send us your pens!</p>

</section>



  </body>
</html>
