<% include partials/header %>

<div class="bgimage">
  <div class="layer">
    <div id="header" class="header">
      <h1><span class="title">RossPens</span><span class="tagline">Your source for reliable, affordable vintage pens</span></h1>
    </div>
  </div>
</div>

<!--
<section>
  <div class="news">
    <div class="news__1-of-6">
    </div>
    <div class="news__center-column">
      <p class="blurb"> <em>RossPens.com is a site for fountain pens, primarily restored vintage pens.
      I pride myself as a reliable source of working pens, accurately described. All our pens are guaranteed be as described
      and to work as they should. I'd rather you know the imperfections before you buy, reminding you that a 40 year
      old pen may not look as it did when came straight out of the box. But the real joy in these old pens is how they write:
      smoothed by years of use.</em></p>
    </div>
    <div class="news__1-of-6"></div>
  </div>
    <!--<div class="pic">-->
    <!--  <img class="portrait" src="https://s3.amazonaws.com/rosspens-assets/images/Ross.jpg">-->
    <!--</div>-->
    
</section>
<section>
  <div class="news">
    <div class="news__left-column">
      <img class="news__portrait" src="https://s3.amazonaws.com/rosspens-assets/images/Ross.jpg" />
    </div>
    <div class="news__center-column">
      <div class="blog__header">
        <h2 class="blog__title">What's New at Rosspens</h2>
        <p class="blog__date">January 29, 2018</p>
      </div>
      <div class="blog__content">
        <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sapien massa, efficitur vitae est et, imperdiet ullamcorper est. Cras lectus ligula, eleifend sit amet augue eu, scelerisque vestibulum diam. Aliquam eget consequat arcu. Sed lobortis mattis tellus, quis gravida diam auctor ut. Nunc mattis porta justo, placerat lacinia mauris vestibulum sed. Quisque ultricies erat ac porta placerat. In ullamcorper vulputate tellus, eu efficitur ligula venenatis a. Mauris arcu nunc, vestibulum sit amet libero ac, imperdiet ultricies dui. Nunc molestie quam non tempor interdum. Donec viverra orci quis erat tincidunt suscipit. Phasellus tortor diam, convallis a nisi sagittis, dignissim consectetur mauris. Aenean sed nulla nec lectus cursus rutrum et dapibus dolor. Nullam vel lorem libero.</p>
        <p>Proin ac quam rhoncus magna tincidunt ultricies. Aenean convallis sapien ut leo feugiat, nec auctor nulla efficitur. Suspendisse potenti. Aliquam ultricies viverra eros id luctus. Nullam aliquam urna at ante tincidunt, aliquet viverra ipsum commodo. Phasellus eget quam erat. Vivamus sed arcu quis ipsum tempus eleifend. Integer aliquam magna aliquam libero lacinia, a lacinia diam facilisis. Nullam fermentum nec ex et efficitur. In venenatis venenatis ligula, ut pretium urna scelerisque sed. Morbi sollicitudin venenatis ipsum ac facilisis. Etiam maximus sit amet nulla quis eleifend. Donec nulla ante, vulputate ac justo non, pellentesque hendrerit ligula.</p>
      </div>
    </div>
    <div class="news__right-column">
      Right
    </div>
  </div>

</section>



<script src="assets/js/landing.js"></script>
<% include partials/footer %>
