<% include partials/header %>

<div class="bgimage">
</div>
<section class="header">
  <h1>RossPens</h1>
  <h2>Your source for reliable, affordable vintage pens.</h2>
</section>
<section class="blurb">
    <div class="pic">
      <img class="portrait" src="https://s3.amazonaws.com/rosspens-assets/images/Ross.jpg">
    </div>
    <p>RossPens.com is a site specializing in the sale of fountain pens, primarily restored vintage pens.
      I pride myself as a reliable source of working pens, accurately described. All our pens are guaranteed be as described
      and to work as they should. I'd rather you know the imperfections before you buy, hopefully reminding you that a 40 year
      old pen may not look as it did when came straight out of the box. But the real joy in these old pens is how they write:
      smoothed by years of use. I do my best to describe the character of the pen, as well as its condition.</p>
</section>

<section class="ourPens">
  <h2>Pens for Sale</h2>

</section>

<section class="restoration">
  <h2>Pen Restorations</h2>
  <div class="restoration-info">
    <p>Send us your pens!</p>

</section>

<script src="assets/js/landing.js"></script>
<% include partials/footer %>
