<% include partials/header %>
<div class="main">
    <h1>Add New Pen to the Database</h1>
<form action="/pens" method="POST" enctype="multipart/form-data">
     <div class="form-group">
        <label for="inventoryNumber">Inventory Number</label>
        <input class="form-control" type="text" name="inventoryNumber" id="inventoryNumber">
    </div>
    <div class="form-group">
        <label for="formmaker">Maker</label>
    <select class="form-control" name="maker" id="formmaker">
        <% makers.forEach(maker => { %>
        <option value="<%=maker.slug%>"><%=maker.name%></option>
        <% }) %>
    </select>
    </div>
    <div class="form-group">
        <label for="formmodel">Item Title</label>
        <input class="form-control" type="text" name="title" id="formmodel" placeholder="Model">
        <label for="itemtype">Type of Item</label>
        <select class="form-control" id="itemtype" name="type">
            <option value="vintage">Vintage Fountain Pen</option>
            <option value="modern">Modern Fountain Pen</option>
            <option value="other">Other</option>
        </select>
    <label for="itemnib">Nib</label>
    <input class="form-control" type="text" name="nib" id="itemnib" placeholder="Item nib">
    <label for="itemprice">Price</label>
    <input class="form-control" type="text" name="price" id="itemprice" placeholder="Price in Dollars">
    </div>
    <div class="form-group">
        <label for="itemimages">Item Images</label>
        <input class="form-control-file" type="file" name="image" id="itemimages" placeholder="Image" multiple>
        <input type="hidden" id="imageURLs" name="imageURLs" value="['/images/default.png']">
    </div>
    <div class="form-group">
    <label for="itemdescription">Description</label>
    <textarea class="form-control" type="text" name="description" id="itemdescription" placeholder="Description" rows="4"></textarea>
    </div>
    <input class="button" type="submit" value="Submit">
    </div>
</form>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../assets/js/new.js"></script>
<% include partials/footer %>