.adminTable {
  margin: 3rem auto;
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  th, td {
      font-size: 1.6rem;
      padding: 15px;
      border: 1px solid gray;
      border-collapse: collapse;
  }
    
  td {
      text-align: center;
  }
  
  tr:nth-child(odd) {
      background: lightgray;
  }
  
}

.adminNav {
  font-size: 2.5rem;
  font-weight: normal;
  display: block;
  text-align: center;
  margin: 2rem auto;
}