.button {
  font-size: 1.6rem;
  width: auto;
  border: none;
  background: $color-primary;
  color: $text-light;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1.6rem 0;
  &:hover {
    color: $text-highlight;
  }
  &--inline {
    display: inline;
  }
  &__info {
  background: rgb(58,71,73);
  text-align: center;
  color: #e2e4e3;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  transition: 0.3s;
  }
  &__plus {
      width: 100%;
      font-size: 3rem;
  }
}