form {
    width: 100%;
    label {
        font-size: 2rem;
    }
}

.form-control {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
  margin-bottom: 30px;
}
.image-checkbox {
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 4px solid transparent;*/
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  outline: 0;
  z-index: 1;
  .fas {
      position: relative;
      color: #ed1f1c;
      background-color: #fff;
      padding: 10px;
      top: 0;
      right: 0;
  }
  &-checked {
      border-color: #ed1f1c;
      opacity: 0.40;
      filter: alpha(opacity=40);
      .fas {
          position: absolute;
          display: block !important;
          z-index: 1;
      }
  }
}

input[type="checkbox"] {
  display: none;
}

.fas.fa-times.hidden {
  display: none;
}