.gallery {
  margin: 3rem 5rem;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 4rem;
  @include respond(tab-land) {
    grid-template-columns: 50% 50%;
  }
  @include respond(tab-port) {
    grid-template-columns: auto;
  }
  // align-items: top;
  min-height: 30rem;
  &__edit {
    margin: 30px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    &-item {
      flex-basis: 25%;
      flex-grow: 1;
      max-width: 33%;
      margin: 5px;
      padding: 10px;
      /*border: 1px solid lightgray;*/
      border-radius: 5px;
      height: 200px;
      display: block;
      position: relative;
      min-height: auto;
    }
  }
}

.caption {
  line-height: 1.5;
  &__text {
     margin: .5rem 0 1.5rem 0;
  }
  p {
    margin: 0;
  }
}

.item {
  flex-basis: 30%;
  font-size: 2rem;
  // max-width: 33%;
  background-color: $color-white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: .3s;
  &:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  margin: 2.5rem 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  &__image {
    padding: .3rem;
    min-height: 8rem;
  }
  &--large {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 5px;
    border-radius: 5px;
  }
}

.item-lg {
  flex-basis: 40%;
  flex-grow: 1;
  max-width: 50%;
  margin: 0.5rem;
  border-radius: 0.5rem;
}


.show-thumbnail {
  display: block;
  width: 100%;
  border-radius: .5rem;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}