.grid {
    @include clearfix;
   /* max-width: $grid-width; */
    [class^="grid__"] {
        float: left;
        padding: 1rem;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
        @include respond(tab-port) {
            // float:none;
            width: 100%;
            padding: 0;
        };
    }
    
    &__1-of-6 {
        width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
        min-height: .1rem;
    }
    
    &__2-of-6 {
        width: calc((2 * (100% - 5 * #{$gutter-horizontal}) / 6) + #{$gutter-horizontal});
    }
    &__4-of-6 {
        width: calc(4 * ((100% - 5 * #{$gutter-horizontal}) / 6) + 3 * #{$gutter-horizontal});;
    }
    &__left-column {
        width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
        position: relative;
        min-height: .1rem;
        @include respond(tab-port) {
            order: 2;
        }
    }
    
    &__center-column {
        width: calc(4 * ((100% - 5 * #{$gutter-horizontal}) / 6) + 3 * #{$gutter-horizontal});;
        @include respond(tab-port) {
            order: 1;
        }
    }
    
    &__right-column {
        width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
        position: relative;
        min-height: .1rem;
        @include respond(tab-port) {
             order: 3;   
        }
    }
    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
    };
}