.image-menu {
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    min-height: 78vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    &__display {
        overflow: auto;
        flex-basis: 85%;
        flex-grow: 1;
    }
    
    &__form {
        flex-basis: 15%;
       
        &--input {
        visibility: hidden;
        height: 0;
        }     
    }
    
    &__thumbnail {
        width: 50%;
        display: block;
        object-fit: contain;
        margin: 1rem auto;
    }
   
}

.show-form {
            visibility: visible;
            height: auto;
            margin: 1rem 0;
        }