.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 2.5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba($black, .9);
    
    &__content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 120rem;
    }
    
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        transform: translate(-50%, -50%);
        @include respond(tab-port) {
            width: 100%;
        }
    }
    
    &__close {
        color: $text-light;
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 4.8rem;
        font-weight: 700;
        &:hover,
        &:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
    }
    
    &__slide {
        display: none;
        margin-bottom: 1rem;
        height: 60vh;
        position: relative;
        &--numbertext {
            color: #f2f2f2;
            font-size: 1.2rem;
            padding: .8rem 1.2rem;
            position: absolute;
            top: 0;
        }
    }
    
    &__prev, 
    &__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 1.6rem;
        margin-top: -5rem;
        color: $text-light;
        font-weight: 700;
        font-size: 2rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        -webkit-user-select: none;
        user-select: none;
        &:hover {
            background-color: rgba($black, 0.8);
        }
    }
    &__next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    &__caption-container {
        text-align: center;
        padding: .2rem 1.6rem;
        color: $text-light;
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    
    &__column {
        float: left;
        width: calc((100% - 3 * #{$gutter-horizontal}) /4);
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
    
    &__demo {
        opacity: 0.6;
        width: 100%;
        &--active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
    }
}