@media all and (max-width: 991px) {
  nav {
    position: relative;
    display: block;
  }
  .main {
    padding: 0;
  }
  /*.header h2 {*/
  /*  font-size: 32px;*/
  /*}*/
  /*.menu-item {*/
  /*  font-size: 16px;*/
  /*}*/
  #menu-button {
    vertical-align: text-bottom;
    margin: 0px 10px;
    display: inline-block;
  }
  #collapsible {
    display: none;
  }
  #collapsible.expanded, #collapsible.expanded a {
    display: block;
  }
  .menu-item {
    margin: 3px 3px;
  }
 .dropdown-content {
    position: relative;
    width: 100%;
  }
  .dropdown-list {
    width: 100%;
  }
  /*.dropdown-content li a {*/
  /*  font-size: 14px;*/
  /*}*/
  .dropdown-columns {
    display: flex;
  }
  .item {
    flex-basis: 40%;
    max-width: none;
    margin: 5px 0px;
  }
  .itemImg {
    height: auto;
  }
  .show-thumbnail {
    max-height: none;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}


@media all and (max-width: 768px){
  nav {
    display: block;
    position: relative;
    /*padding-bottom: 10px;*/
  }
  .header h1 {
    font-size: 6vh;
  }
  .header h2 {
    font-size: 2.5vh;
  }
  .menu-item {
    display: block;
    margin: 10px 0px 10px 10px;
  }
  .show {
    display: block;
  }
  .main {
    margin-top: 5px;
    padding: 0;
  }
  .container {
    flex-direction: column-reverse;
  }
  .gallery {
    margin: 0;
  }
  .item {
    max-width: 100%;
  }
  
  .itemImg{
    height: auto;
  }
  .show-thumbnail {
    max-height: none;
    width: 100%;
  }
  
  .pen-name {
    font-size: 20px;
  }
  .show-sidebar p {
    font-size: 13px;
    text-align: justify;
  }
  
  .gallery .item {
    flex-basis: 100%;
  }
  .gallery .item-lg {
    flex-basis: 100%;
    max-width: 100%;
  }
  .dropdown-content {
    position: relative;
    width: 100%;
  }
  .dropdown-columns {
    flex-direction: column;
  }
  .dropdown-sub-list {
    width: 100%;
  }
  .dropdown {
    flex: 1;
  }
  .dropdown-content li a {
    font-size: 14px;
    padding: 6px 16px;
  }
 .dropdown-btn{
    margin: 0;
  }
}
