/* Global styles */

html {
	margin: 0;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

nav {
  display: flex;
  background-color: #1f242b;
  background-clip: content-box;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  width: 100vw;
  color: white;
}

a {
  text-decoration: none;
}

ul,li{
    padding:0;
    margin:0;
}

li{
    list-style-type:none;
}
