/* Global styles */

html {
	margin: 0;
	height: 100%;
}

body {
  font-family: "Montserrat";
  margin: 0;
  height: 100%;
  background-color: #eee; 
}

nav {
  display: flex;
  position: fixed;
  background-color: #334749;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100vw;
  color: #e2e4e3;
  z-index: 999;
  padding: 0 10px 5px 10px;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

ul,li{
    padding:0;
    margin:0;
}

li{
    list-style-type:none;
}

.btn {
  font-size: 16px;
  width: auto;
  border: none;
  background: #334749;
  color: #e2e4e3;
  padding: 10px;
  border-radius: 10px;
}

form {
  width: 100%;
}

h1 {
  margin-bottom: 0.25em;
}