/* Global styles */

html {
	margin: 0;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  background-color: rgba(58,71,73, 0.8);
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 5px;
  width: 100vw;
  color: #f5f5f5;
}

a {
  text-decoration: none;
}

ul,li{
    padding:0;
    margin:0;
}

li{
    list-style-type:none;
}
