/* State Styles */
/* Update Form State Styles */
.image-checkbox-checked {
  border-color: #ed1f1c;
  opacity: 0.40;
  filter: alpha(opacity=40);
}
.image-checkbox-checked .fa {
  position: absolute;
  display: block !important;
  z-index: 1;
}
/* Dropdown Menu Behavior Styles */
/*.dropdown:hover .dropdown-content {*/
/*  display: flex;*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*  z-index: 1;*/
/*  transform: translateY(4px);*/
/*  transition-delay: 0s, 0s, 0.3s;*/
/*}*/

.fa.fa-remove.hidden {
  display: none;
}

.show {
  display: flex;
  opacity: 1;
  z-index: 1;
  transform: translateY(9px);
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-content a:hover{
  color: #c3be9b;
}

nav a:hover{
  color: #c3be9b;
  cursor: pointer;
}

/* Menu Button Animations */

/* Rotate first bar */
.change .menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px) ;
}

/* Fade out the second bar */
.change .menu-bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px) ;
    transform: rotate(45deg) translate(-6px, -8px) ;
}

/*.show {
  display: block;
}*/
@media all and (max-width: 1050px) {
  nav {
    position: relative;
    display: block;
    background-color: rgb(58,71,73);
  }
  .main {
    padding: 0;
  }
  .menu-item {
    font-size: 16px;
  }
  #menu-button {
    vertical-align: text-bottom;
    margin: 0px 10px;
    display: inline-block;
  }
  #collapsible {
    display: none;
  }
  #collapsible.expanded, #collapsible.expanded a {
    display: block;
  }
  .menu-item {
    margin: 3px 3px;
  }
 .dropdown-content {
    position: relative;
    width: 100%;
  }
  .dropdown-list {
    width: 100%;
  }
  .dropdown-content li a {
    font-size: 14px;
  }
  .dropdown-columns {
    display: flex;
  }
  .item {
    flex-basis: 40%;
    max-width: none;
    margin: 5px 0px;
  }
}


@media all and (max-width: 700px){
  nav {
    display: block;
    position: relative;
    /*padding-bottom: 10px;*/
  }
  .menu-item {
    display: block;
    margin: 10px 0px 10px 10px;
  }
  .show {
    display: block;
  }
  .main {
    margin-top: 5px;
    padding: 0;
  }
  .container {
    flex-direction: column-reverse;
  }
  .gallery {
    margin: 0;
  }
  .item {
    max-width: 100%;
  }
  
  .pen-name {
    font-size: 20px;
  }
  .show-sidebar p {
    font-size: 13px;
    text-align: justify;
  }
  
  .gallery .item {
    flex-basis: 100%;
  }
  .gallery .item-lg {
    flex-basis: 100%;
    max-width: 100%;
  }
  .dropdown-content {
    position: relative;
    width: 100%;
  }
  .dropdown-columns {
    flex-direction: column;
  }
  .dropdown-sub-list {
    width: 100%;
  }
  .dropdown {
    flex: 1;
  }
  .dropdown-content li a {
    font-size: 14px;
    padding: 6px 16px;
  }
 .dropdown-btn{
    margin: 0;
  }
}
