.bgimage {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url('https://s3.amazonaws.com/rosspens-assets/images/landing.jpg');
  background-origin: border-box;
  background-size: cover;
  background-position: top;
  .layer {
        background: rgba(0,0,0,0.15);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
}

.header {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 3rem;
    transform: translate(-50%, 0);
    width: 80%;
    text-align: center;
    background: url;
    h1 {
        color: $text-light;
        text-shadow: 0 3px 10px rgba(0,0,0,0.9);
        .title {
            display: block;
            font-family: 'Rochester', cursive;
            line-height: 1.3;
            font-size: 10rem;
            font-weight: 300;
            margin: 0;
        }
        .tagline {
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-size: 4rem;
            font-weight: 300;
            margin: 0;
        }
    }
}

.blurb {
    text-align: justify;
    font-size: 2rem;
    font-weight: 400;
}

section {
    width: 100%;
    padding: 3rem 0;
    &:nth-child(odd) {
        background-color: $color-tertiary;
        color: $text-light;
    }
}

.ribbon {
    padding: .5rem;
}

.portrait {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: auto;
    &__photo {
        width: 100%;
    }
}


.blog {
        &__header {
            @include clearfix;
            margin: 0 0 1.5rem 0;
            display: block;
            position: relative;
        }
        &__title {
            display: block;
            vertical-align: baseline;
            &--text {
                font-size: 4rem;
                font-weight: 300;
            }
        }
        &__date {
            vertical-align: baseline;
            line-height: 1.7;
            font-size: 2rem;
            display:block;
            text-align: right;
        }
        &__content {
            font-size: 2rem;
            text-align: justify;
            line-height: 1.7;
            p {
                margin: 1rem 0;
            }
            margin-bottom: 2rem;
        }
    }

.right-content {
    margin: 3rem 0;
    font-size: 1.6rem;
    padding: 1rem;
}

.new-pens {
        width: 100%;
        background-color: $color-secondary;
        &__header {
            display: block;
            background: $color-tertiary;
            border-radius: 2px;
            text-align: center;
            color: $text-light;
            font-size: 1.8rem;
            padding: 5px;
        }
        
        &__display {
            font-size: 1.6rem;
            padding: 1rem;
            width: 100%;
            &--item {
                padding: .5rem .3rem;
                margin: 2rem 0;
                border-radius: 5px;
            }
            &--thumbnail {
                display: block;
                width: 100%;
                margin: 1rem 0;
            }
            &--title {
                font-size: 1.6rem;
                &:link,
                &:visited {
                    color: $text-dark;
                    }
                }
        }
        
    }