<% include ../partials/header %>

<div class="main">
      <h1 class="article-title">The History of the Moore Pen Company</h1>
      <img src="https://s3.amazonaws.com/rosspens-assets/images/divider.png" class="divider">
      <div class="article">
          <p>The Moore Pen Company was based in Boston, Massachusetts, and made high quality fountain pens until the mid-1950s. 
          The company began in 1899 as the American Fountain Pen Company with an excellent black hard rubber safety pen they made 
          for nearly 30 years, known as the "Moore's Non-Leakable Fountain Pen."  The idea for the Moore safety came from a musician, 
          Morris W. Moore, but he wasn't really a businessman or capitalist. His idea was developed by W.F. Cushman, an optical salesman, 
          who worked with W.F. Cushing, a Boston stationer, to create the American Fountain Pen Company.  Their safety pen came in a 
          variety of sizes, some with gold bands for ornamentation.  The company changed their name in 1917 to the Moore Pen Company. In 
          1918, they began to make hard rubber lever fillers.  These eventually included the gorgeous and nicely decorated Tuscan models, 
          shown below.  Moore tried to compete with the the "Big Four" pen makers, although they were rarely in the same volume league. 
          Their first plastic pens appeared in 1927.  Their pens were rarely original, although well executed, and only with the 
          Fingertip Model (1946-1950) did they make a leap into truly creative design.  Unfortunately, this futuristic looking pen never 
          reached a mass market, and the last years of the Moore Company were spent making mediocre aerometric fillers (the "Moore 
          Specialist"). The company gave up pen manufacturing in 1956.</p>
      </div>
    </div>
<% include ../partials/footer %>