<% include ../partials/header %>

<div class="main">
    <h1 class="article-title">The Triangle Pen Club</h1>
    <img src="https://s3.amazonaws.com/rosspens-assets/images/divider.png" class="divider">
    <div class="article">
        <p>Research Triangle Pen Club News   Club meetings are held at the Mad Hatter Bakery (Main and Broad Streets in Durham, across from Duke East Campus, Swift Ave exit off 147/Durham Expressway)  Everyone is welcome -  No membership fees. Information on club meetings is available at meetup.com (search for the Triangle Pen Club)  As of May 2015, the organizer is Tom Baley - trianglepenclub@gmail.com</p>
    </div>
    
    </div>
<% include ../partials/footer %>